<!DOCTYPE html>
<html>
<head>
  <title>UserAuth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
<%= current_user.email %><br/>
<%= link_to "All Posts", posts_path %>
<%= link_to "Sign out", sign_out_path, method: :delete %>

<% else %>
<%= link_to "Sign in", sign_in_path %>
<%= link_to "Register", register_path %>
<% end %>

<% flash.each do |name, message| %>
	<div class="flash flash_<%= name %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
